{% extends "admin/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}SARchive - Edit User{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Edit User</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}
