{% extends "admin/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}SARchive - Login{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="col-md-4">
    <small class="text-muted">*Mandatory fields</small>
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}
