{% extends "admin/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}SARchive - Manage Users{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Manage Users</h1>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Active</th>
            <th scope="col">Is Password Initial</th>
            <th scope="col">Roles</th>
            <th scope="col">Created At</th>
            <th scope="col">Changed At</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user['username'] }}</th>
                <td><input class="form-check-input position-static" type="checkbox" disabled
                           {% if user['active'] %}checked{% endif %}></td>
                <td><input class="form-check-input position-static" type="checkbox" disabled
                           {% if user['is_password_initial'] %}checked{% endif %}></td>
                <td>{% for role in user['roles'] %}<span class="badge badge-light">{{ role['name'] }}</span>{% endfor %}
                </td>
                <td>{{ moment(user['created_at']).format('L') }}</td>
                <td>{{ moment(user['updated_at']).format('L') }}</td>
                <td>
                    <form method="post">
                        {{ form.csrf_token }}
                        <button type="submit" class="btn btn-sm" name="submit_button" value="edit">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <input type="hidden" id="username" name="username" value="{{ user['username'] }}"/>
                        {% if current_user.username != user['username'] %} {# You can't delete yourself #}
                            <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#changePassword"
                                    data-username="{{ user['username'] }}">
                                <span class="glyphicon glyphicon-asterisk"></span>
                            </button>
                            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal"
                                    data-target="#confirmDelete" data-username="{{ user['username'] }}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        {% endif %}
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="confirmDelete" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <form method="post">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" name="submit_button" value="delete">Delete
                        </button>
                        <input type="hidden" id="uname" name="uname" value=""/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="changePassword" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-body">
                        <label for="newPassword" id="newPasswordLabel">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword"
                               required="true"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" name="submit_button" value="changePassword">Change
                            Password
                        </button>
                        <input type="hidden" id="uname" name="uname" value=""/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $('#confirmDelete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var username = button.data('username') // Extract info from data-* attributes
            var modal = $(this)
            modal.find('.modal-title').text('Confirm deletion of user "' + username + '"')
            modal.find('.modal-body').text('Are you sure you want to delete user "' + username + '"?')
            modal.find('.modal-body input').val(username)
            modal.find('#uname').val(username)
        })
        $('#changePassword').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var username = button.data('username') // Extract info from data-* attributes
            var modal = $(this)
            modal.find('.modal-title').text('Reset password of user "' + username + '"')
            modal.find('#newPasswordLabel').text('Please enter the new password for "' + username + '"?')
            {#modal.find('.modal-body input').val(username)#}
            modal.find('#uname').val(username)
        })
    </script>
{% endblock %}
